#card,
.list-group-item,
body {
  background-color: #c6eef5;
  border-style: none;
  font-weight: bold;
}
#card {
  margin-bottom: 30px;
  padding: 20px;
  border: 0;
}

.card-title {
  font-size: 5.5vh;
}
.list-items {
  border: 1.5px solid black;
  margin: 2vh;
}
